:root{
    --bg-green: #009688;
    --bg-grey: #dbdbd3;
    --wrapper-grey: #eaeaea;
    --blue-banner: #8edafc;
    --send-green: #d5f9ba;
    --icon-grey: #b1b1b1;
}

/* .debug{
    border:1px solid red;
} */

body{
    height: 100vh;
    background: rgb(0,150,136);
    background: linear-gradient(180deg, rgba(0,150,136,1) 15%, rgba(219,219,211,1) 15%, rgba(219,219,211,1) 100%);
}
.wrapper{
    background-color: var(--wrapper-grey);
    height: 95vh;
    width: 80vw;
    overflow: hidden;
}
#row-wrapper{
    height: 100%;
}

/* SIDEBAR */

/* HEADER-SIDE */
.header-col{
    height: 70px;
}
.box-pic{
    width: 50px;
    height: 50px;
    margin-left: 10px;
}
.my-option i{
    padding: 10px;
    font-size: 1.3rem;
    color: var(--icon-grey);
}

/* BANNER */
.banner{
    height: 80px;
    background-color: var(--blue-banner);
}
.box-bell{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    background-color: white;
    border-radius: 50%;;
}
.box-bell i{
    font-size: 1.3rem;
    color: var(--blue-banner);
}
.active-notice{
    font-size: 0.8rem;
    color: grey;
    text-decoration: underline;
}

/* SEARCH-BAR */
.search-contacts{
    height: 45px;
    border: none;
    background-color: #fafafa;
}
.search-contacts i{
    background-color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    border-right: 1px solid rgba(211, 211, 211, 0.527);
    color: var(--icon-grey);
}

/* RECENTLY CONTACT */
.container-contacts{
    height:calc(100vh - 225px);
    overflow: scroll;
    background-color: white;
}

/* CARD CONTACT */
.card{
    border: transparent;
    border-bottom: 1px solid lightgrey;
}
.container-profile-pic, .last-mex-hour{
    width: 20%;
}
.box-pic{
    width: 60px;
    height: 60px;
    margin-left: 10px;
}
.box-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.last-mex, .last-mex-hour{
    color: var(--icon-grey);
    font-size: 0.9rem;
}


/* CHAT CONTAINER */
#main-chat{
    border-left: 1px solid lightgrey;
}
.chat-container{
    height: calc(100vh - 180px);
    overflow-y: scroll;
    overflow-x: hidden;
    background-image: url(../img/mine.jpg);
    padding:60px 10px;
}
.mess-sent{
    background-color: var(--send-green);
    padding: 15px 15px;
    border-radius: 8px;
    width: 80%;
    word-wrap: break-word;
}
.mess-recevied{
    background-color: white;
    padding: 15px 15px;
    border-radius: 8px;
    width: 75%;
    word-wrap: break-word;
}
footer{
    height: 60px;
}
footer i{
    font-size:1.3rem;
    color: var(--icon-grey);
}
.emoji, .record-voice{
    width: 10%;
    display: flex;
    justify-content: center;
}