<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <title>Boolzapp</title>
</head>
<body>
    <div id="app">
        <body class="d-flex justify-content-center align-items-center">
            <!-- WRAPPER -->
            <div class="wrapper">
                <div class="row m-0" id="row-wrapper">
                    <!-- SIDEBAR-COLUMN -->
                    <div class="col-12 col-xl-4 p-0 ">
                        <div id="sidebar" class="d-flex flex-column">
                            <!-- HEADER-SIDE -->
                            <header class="header-col d-flex align-items-center justify-content-between ">
                                <div class="my-account d-flex align-items-center ">
                                    <div class="box-pic " id="my-pic">
                                        <img src="./img/avatar_1.jpg" alt="">
                                    </div> 
                                    <span class="fw-semibold">Nicolò</span>
                                </div>
                                <div class="my-option pe-3 d-flex align-items-center">
                                    <i class="fa-solid fa-circle-notch"></i>
                                    <i class="fa-solid fa-message"></i>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </div>
                            </header>
                            <!-- BANNER -->
                            <div class="banner d-flex align-items-center">
                                <div class="box-bell d-flex justify-content-center align-items-center">
                                    <i class="fa-solid fa-bell-slash"></i>
                                </div>
                                <div class="banner-content p-3 d-flex flex-column justify-content-center">
                                    <span class="fw-semibold">Ricevi notifiche di nuovi messaggi</span>
                                    <span class="active-notice">Attiva notifiche desktop</span>
                                </div>
                            </div>
                            <!-- SEARCH-BAR -->
                            <div class="search-contacts d-flex align-items-center justify-conter-center p-2">
                                <i class="fa-solid fa-magnifying-glass px-4 rounded-1 rounded-end-0"></i>
                                <input class="w-100 px-1 border-0 py-1 rounded-1 rounded-start-0" type="search" placeholder="Cerca o inizia una nuova chat">
                            </div>
                            <!-- CONTACTS-LIST (RECENTLY) -->
                            <div class="container-contacts d-flex flex-column">
                                <!-- CARD-CONTACT -->
                                <div class="card rounded-0 d-flex flex-row justify-content-between py-2" v-for="(currentChat, index) in contacts" @click="selectChat(index), messageStatus(index)" :key="contacts[index].id">
                                    <div class="container-profile-pic d-flex justify-content-center ">
                                        <div class="box-pic ">
                                            <img :src="currentChat.avatar" alt="">
                                        </div>         
                                    </div>
                                    <div class="box-this-chat w-100 p-2 pt-1 ">
                                        <div class="contact-name fw-semibold ps-2">
                                            {{currentChat.name}}
                                        </div>
                                        <div class="last-mex ps-2">
                                            Ultimo messaggio inviato
                                        </div>
                                    </div>
                                    <div class="last-mex-hour pt-1 d-flex justify-content-center ">
                                        12:00
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- CHAT-COLUMN -->
                    <div class="col-12 col-xl-8 p-0" id="main-chat" v-if="!contacts.visible">
                        <div id="main-chat" class="d-flex flex-column" v-for="(contact, index) in contacts" :class="{'d-none': !contact.visible}">
                            <!-- HEADER-CHAT -->
                            <header class="header-col d-flex align-items-center justify-content-between" >
                                <div class="my-account d-flex align-items-center">
                                    <div class="box-pic">
                                        <img :src="contact.avatar" alt="">
                                    </div> 
                                    <span class="fw-semibold">{{contact.name}}</span>
                                </div>
                                <div class="my-option pe-3 d-flex align-items-center">
                                    <i class="fa-solid fa-circle-notch"></i>
                                    <i class="fa-solid fa-message"></i>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </div>
                            </header>
                            <!-- CHAT-CONTAINER -->
                            <div class="chat-container">
                                <!-- ROW-SENT -->
                                <div class="row m-0 mb-2 debug d-flex" :class="{'justify-content-end' : msg.status === 'sent' }" id="sent" v-for="(msg, index) in contacts[chatId].messages">
                                    <div class="col-6 debug">
                                        <div class="mex-sent d-flex flex-column align-items-center gap-2">
                                            <span :class="{'mess-sent': msg.status === 'sent', 'mess-recevied' : msg.status === 'received'}">{{msg.message}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                
                            <!-- FOOTER CHAT -->
                            <footer class="d-flex justify-content-center align-items-center py-3 ">
                                <div class="emoji  ">
                                    <i class="fa-regular fa-face-smile"></i>
                                </div>
                                <div class="write-in w-100 ">
                                    <input type="text" class="w-100 py-2 px-2 rounded-2 border-0" placeholder="Scrivi un messaggio">
                                </div>
                                <div class="record-voice ">
                                    <i class="fa-solid fa-microphone"></i>
                                </div>
                            </footer>
                        </div>
                        
                    </div>
                </div>
            </div>
        </body>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/utility.js"></script>
    <script src="./js/script.js"></script>
</body>
</html>